# --- Angular & NPM ---
/node_modules
/.angular
/dist
/tmp
/out-tsc
/bazel-out
*.log
.DS_Store

# --- IDEs and Editors ---
.idea/
.vscode/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Capacitor ---
capacitor.config.json.timestamp

# --- Android ---
/android/.gradle/
/android/app/build/
/android/build/
/android/local.properties
/android/*.iml
/android/.idea/
/android/app/*.iml
/android/captures/